{% extends "layout.html" %}

{% block content %}

    <head>
      <link rel="stylesheet" type="text/css" href="/static/signin.css">
    </head>
    <div class="container">
        <div class="info">
            <h1>My account </h1>
            <p>Username: {{ current_user.username }}</p>
            <p>Email: {{ current_user.email }}</p>
        </div>

        <form class="form-update" method="POST" action="">

             <h2 class="form-update-heading"> Update account </h2>
                 {{ form.hidden_tag() }}

            <div>
                {{ form.username.label(class="form-control-lable") }}
                {% if form.username.errors %}
                     {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                     {% for error in form.username.errors %}
                         <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                 {% endif %}
            </div>
            <div>
                {{ form.email.label(class="form-control-lable") }}
                {% if form.email.errors %}
                     {{ form.email(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                         <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

    <button class="btn" type="submit">Update
    </button>
  </form>


  <form>
      <h1> Make an appointment </h1>
      <div>
          {{ form1.subject.label(class= "form-control-lable") }}
          {{ form1.sub(class="form-control form-control-lg")}}
          <!-- {{ form1.subject(class='form-control form-control-lg')}}-->
          {{ form1.dt.label(class="form-control-lable")}}
          {{ form1.dt(class='datepicker') }}
          {{ form1.begin.label(class="form-control-lable")}}
          {{ form1.begin(class='timepicker')}}
          {{ form1.end.label(class="form-control-lable")}}
          {{ form1.end(class='timepicker')}}

          {{ form1.hidden_tag() }}

      </div>
      <button class="btn" type ="submit"> Set Date</button>
  </form>

    </div>

{% endblock %}