{% extends "layout.html" %}

{% block title %}
Calendar
{% endblock %}

{% block content %}
    <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <div class="container">

        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;
         height=600&amp;wkst=2&amp;hl=en_GB&amp;bgcolor=%23FFFFFF&amp;
         src=vtiu37m1tkabtj11qoqkourpu8%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=Europe%2FRome"
                 style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    </div>

    <div class="container">
        <form class="form-new_post" method="POST"  action="">
            <h1>Create a new  study group</h1>
            <h2 class="form-new_post-heading"></h2>

        </form>

    </div>

{% endblock %}



