{% extends "layout.html" %}

{% block title  %}
Table
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="/static/table.css" >
    </head>

    <div class="container">
        <div>
            <p class="lead">In this table you can find the study rooms, their opening hours and the available spots in the particular room.</p>
        </div>
    </div>

    <div class="container">
        <table class = table>
            <thead>
                <th>Studyroom</th>
                <th>Opening hours</th>
                <th>Available spots</th>
            </thead>
            <tr>
                <td>Aula A</td>
                <td>8.30 - 20.00</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Aula B</td>
                <td>8.30 - 20.00</td>
                <td>45</td>
            </tr>
            <tr>
                <td> Aula C </td>
                <td> 8.30 - 20.00</td>
                <td> 16</td>
            </tr>
        </table>
    </div>
{% endblock %}